/* Add here all your CSS customizations */


/* @group Global */
body
{
	font-size: 13px;
	font-family: "Helvetica Neue", helvetica, sans-serif;
	background: #fff;
}
.container-home
{
	width: 320px;
	margin: 0 auto;
	padding: 0;
}


section #app_info
{
	text-align: center;
	float: none;
	width: 100%;
	padding: 0;
	margin-top: 30px;
}
section #app_info .logo
{
	display: block;
	margin-bottom: 5px;
}
section #app_info span.tagline
{
	font-family: 'Quicksand', sans-serif;
	font-size: 19px;
	letter-spacing: -0.05em;
	color: #1f1f1f;
	display: block;
	margin-bottom: 30px;
}
section #app_info p
{
	color: #898989;
	margin-bottom: 30px;
}

section #app_info .buttons
{
	width: 320px;
	float: none;
	margin: 0 auto;
}
section #app_info .buttons a:first-child
{
	margin: 0;
}
.large_button,section #app_info .buttons .large_button
{
	width: 115px;
	font-size: 17px;
	margin-left: 10px;
}

section #app_info .price
{
	clear: both;
	background: url('../img/light-arrow.png') no-repeat top center;
	padding-top: 50px;
	text-align: center;
}

section #app_info .price.left_align
{
	background-position: 70px 0px;
}
section #app_info .price.left_align p
{
	text-align: left;
}
section #app_info .price p
{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 20px;
	color: #1f1f1f;
}
/* @end */


/* @group Buttons */
.large_button
{
	padding: 10px 15px 10px 10px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	width: 140px;
	text-align: center;
	text-shadow: 1px 1px  rgba(0,0,0,0.85);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-right: 2px;
}

.large_button:active
{
	-webkit-box-shadow: inset 0px 0px 7px #333;
	-moz-box-shadow: inset 0px 0px 7px #333;
	box-shadow: inset 0px 0px 7px #333;
}
.large_button#apple
{
	background: #2cbbfd;
	background: -moz-linear-gradient(top,  #2cbbfd 0%, #006b9d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2cbbfd), color-stop(100%,#006b9d));
	background: -webkit-linear-gradient(top,  #2cbbfd 0%,#006b9d 100%);
	background: -o-linear-gradient(top,  #2cbbfd 0%,#006b9d 100%);
	background: -ms-linear-gradient(top,  #2cbbfd 0%,#006b9d 100%);
	background: linear-gradient(top,  #2cbbfd 0%,#006b9d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cbbfd', endColorstr='#006b9d',GradientType=0 );
}
.large_button#apple em
{
	color: #065478;
}
.large_button#apple:hover
{
	background: #4cc6ff;
	background: -moz-linear-gradient(top,  #4cc6ff 0%, #0078b0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cc6ff), color-stop(100%,#0078b0));
	background: -webkit-linear-gradient(top,  #4cc6ff 0%,#0078b0 100%);
	background: -o-linear-gradient(top,  #4cc6ff 0%,#0078b0 100%);
	background: -ms-linear-gradient(top,  #4cc6ff 0%,#0078b0 100%);
	background: linear-gradient(top,  #4cc6ff 0%,#0078b0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cc6ff', endColorstr='#0078b0',GradientType=0 );
}
.large_button#android
{
	background: #98d463;
	background: -moz-linear-gradient(top,  #98d463 0%, #66891d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98d463), color-stop(100%,#66891d));
	background: -webkit-linear-gradient(top,  #98d463 0%,#66891d 100%);
	background: -o-linear-gradient(top,  #98d463 0%,#66891d 100%);
	background: -ms-linear-gradient(top,  #98d463 0%,#66891d 100%);
	background: linear-gradient(top,  #98d463 0%,#66891d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98d463', endColorstr='#66891d',GradientType=0 );
}
.large_button#android em
{
	color: #436c01;
}
.large_button#android span.icon
{
	background-position: 0px -35px;
}
.large_button#android:hover
{
	background: #9dda67;
	background: -moz-linear-gradient(top,  #9dda67 0%, #70971f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dda67), color-stop(100%,#70971f));
	background: -webkit-linear-gradient(top,  #9dda67 0%,#70971f 100%);
	background: -o-linear-gradient(top,  #9dda67 0%,#70971f 100%);
	background: -ms-linear-gradient(top,  #9dda67 0%,#70971f 100%);
	background: linear-gradient(top,  #9dda67 0%,#70971f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dda67', endColorstr='#70971f',GradientType=0 );
}
.button
{
	border: 1px solid #DEDEDE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #555555;
	display: inline-block;
	font: bold 10px/12px 'Helvetica Neue',Helvetica,sans-serif;
	padding: 6px 11px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.button:active
{
	-webkit-box-shadow: inset 0px 0px 3px #333;
	-moz-box-shadow: inset 0px 0px 3px #333;
	box-shadow: inset 0px 0px 3px #333;
}
.button:hover
{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 3px #bbb;
	-moz-box-shadow: 0px 0px 3px #bbb;
	box-shadow: 0px 0px 3px #bbb;
}


/* @group Dark Theme */

body
{
	background: url('../images/dark-bg.png') repeat top left;
}

section #app_info span.tagline
{
	color: #fff;
}
section #app_info p
{
	color: #a6a6a6;
}

h2,h3,h4,h5
{
	color: #fff;
}
section #pages p,section #pages ul
{
	color: #a6a6a6;
}


{
	div#page_wrapper
	{
		width: 320px;
		overflow: hidden;
		margin: 0 auto;
	}

}

